@import "./positions.scss";
@import "./sizes.scss";
@import "./spacing.scss";
@import "./themes/exports.scss";

body {
    background-color: var(--page-background);
    color: var(--page-text);
    margin: 0;

    font-family: "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Tahoma, "Open Sans", Arial, sans-serif;
    font-weight: 300;
}

@for $i from 1 to 7 {
    h#{$i} {
        font-size: #{4.5 - $i/2}#{em};
        font-weight: 400;
        margin-bottom: 0.4em;

        @extend .theme-accent-color
    }
}